<div class="flex gap-10 py-12 px-6">
    <div class="w-1/2 pr-10">
        <h2 class="text-4xl">
            Subscribe to my
            <br>
            <span class="blue_gradient_text_color">Newsletters</span>
        </h2>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus malesuada nisi tellus, non imperdiet nisi tempor at.</p>
        <p></p>
    </div>
    <div class="w-1/2  flex items-center">
        <form class="border w-full bg-slate-800 flex p-3 rounded-full">
            <input type="text" placeholder="Enter your E-mail" class="ml-5 mr-3 w-full bg-transparent outline-0">
            <button class="gradient_button text-xl px-10 py-3 text-slate-800 font-extrabold">Subscribe</button>
        </form>
    </div>
</div>
