<div>
    <li class="w-80 h-test rounded-2xl list-none border border-transparent bg-gray-blue">
        <a class="h-full flex flex-col gap-4">
            <div class="h-55p">
                <img src="{{post_photo}}" alt="" class="w-full h-full object-cover rounded-t-xl"/>
            </div>
            <div class="flex justify-center flex-col text-center gap-3 px-4 ">
                <p class="text-2xl font-bold">{{post_title}}</p>
                <p>{{post_date}}</p>
                <p class="text-justify">{{post_resume}}</p>
            </div>
        </a>
    </li>
</div>
